body {
    box-sizing: border-box;
    margin: 0;
    color: #3A2E2E;

}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1107;
    padding: 0 15px;
    margin: 0 auto;
}


.header {
    background-color: #DDF9FF;
    padding-top: 32px;
    padding-bottom: 48px;
}

.header-wrap {
    display: flex;
    gap: 193px;
    align-items: center;
}


.header-img {
    margin: 90px;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 717px;
    font-size: 24px;
    font-weight: 700;

}

.header-banner {
    display: flex;
    gap: 57px;
    align-items: center;
}

.hero {
    padding-bottom: 48px;
    background-color: aquamarine;
}

.container-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 57px;
}
.button{
    width: 242px;
    border-radius: 30px;
    color: white;
    font-size: 18px;    
    background-color: #6278B4 ;
    margin: 32px 110px;
    height: 62px;
}
.header-words{
    color: #6278B4;
    
  font-family: Jost;
font-weight: 600;
font-size: 24px;


}
.header-title{
     font-family: Jost;
font-weight: 700;
font-style: Bold;
font-size: 48px;
height: 103%;
padding-top: 16px;
padding-bottom: 16px;



}
.header-text{
    font-family: Jost;
font-weight: 500;
font-style: Medium;
font-size: 20px;
padding-bottom: 34px;


}

.hero-subtitle {
    color: beige;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 16px;
}

.hero-title {
    color: azure;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 16px;

}

.hero-text {
    color: blueviolet;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 32px;
}

.hero-link {

    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: ;
    padding: 16px 22px;
    display: inline-block;
    border-radius: 30px;


}