body {
    box-sizing: border-box;
    margin: 0;
    color: #3A2E2E;
    width: 1440px;
    height: 981px;

}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {

    width: 1107;
    padding: 0 15px;
    margin: 0 auto;
}


.header {
    background-color: #DDF9FF;
    padding-top: 32px;
    padding-bottom: 48px;
}

.header-wrap {
    display: flex;
    gap: 193px;
    align-items: center;
}


.header-img {
    margin: 90px;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 717px;
    font-size: 24px;
    font-weight: 700;

}

.header-banner {
    display: flex;
    gap: 57px;
    align-items: center;
}

.hero {
    padding-bottom: 48px;
    background-color: aquamarine;
}

.container-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 57px;
}

.button {
    width: 242px;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    background-color: #6278B4;
    margin: 32px 110px;
    height: 62px;
}

.header-words {
    color: #6278B4;

    font-family: Jost;
    font-weight: 600;
    font-size: 24px;


}

.header-title {
    font-family: Jost;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    height: 103%;
    padding-top: 16px;
    padding-bottom: 16px;



}

.header-text {
    font-family: Jost;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    padding-bottom: 34px;


}

.hero-subtitle {
    color: beige;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 16px;
}

.hero-title {
    color: azure;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 16px;

}

.hero-text {
    color: blueviolet;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 32px;
}

.hero-link {

    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: ;
    padding: 16px 22px;
    display: inline-block;
    border-radius: 30px;


}

/* section 2 */
.services-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 155px;

}

span {
    color: #6278B4;

}

.services-title {
    padding: 24px;

    text-align: center;
    border-bottom: 4px solid hsla(224, 35%, 54%, 1);
    width: 1000px;

}

.services-wrap {
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    width: 229px;
    height: 63px;


}

.services-img {
    width: 49px;
    height: 49px
}

.services-subtitle {
    font-weight: 400;
    font-size: 24px;


}

/* section 3 */
.third {
    display: flex;
    justify-content: space-between;
    gap: 130px;
    align-items: center;
    background-color: #DDF9FF;
}

.third-title {
    color: #6278B4;
    font-family: Jost;
    font-weight: 900;
    font-style: Black;
    font-size: 48px;
    padding-bottom: 28px;
}

.third-text {
    font-family: Jost;
    font-weight: 500;
    font-size: 20px;
    width: 294px;
    height: 145px;


}

.third-container {
    padding: 201px 130px 217px 255px;
    width: 294;
    height: 145;


}

/* section 4 */
.specialists-list {
    display: flex;
    justify-content: center;
    gap: 32px;

}

.specialists-img {
    width: 352;
    height: 448;





}

.specialists-title {
    text-align: center;
    font-family: Jost;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;


}

.specialists-text {
    font-family: Jost;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    text-align: center;

}

.specialists-item {}

.footer-container {
    background-color: rgba(83, 83, 83, 1);
    width: 1440;
    height: 781;


    ;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    padding-bottom: 73px;
}

img {
    padding: 42px;
    padding-left: 160px;
    


    

}

.footer-title {
    padding-left: 160px;
    color: rgba(255, 255, 255, 1);


}

.footer-text {
    color: rgba(255, 255, 255, 1);

}

.footer-list {
    padding-left: 160px;
}